    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;   
      }
    .create-box {
        background-color: white;
        width: 600px;
        height: 380px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding-top: 70px;
      }

        .create-box h2 {
            color: #c23030;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .create-box p {
            color: #333;
            font-size: 16px;
            margin-bottom: 30px;
        }
        .create-box button.btn-create {
            background-color: #c23030;
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: -40px;
        }
        .btn-view {
            color:#c23030;
            background-color: transparent;
            border:transparent;
        }