    /* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff5f5;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: #c23030;

}
    
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;   
      }
    .create-box {
        background-color: white;
        width: 600px;
        height: 350px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        
      }

        .create-box h2 {
            color: #c23030;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .create-box p {
            color: #333;
            font-size: 16px;
            margin-bottom: 30px;
        }
        .create-box button.btn-create {
            background-color: #c23030;
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: -40px;
        }
        .btn-view {
            color:#c23030;
            background-color: transparent;
            border:transparent;
        }